<a href="https://colab.research.google.com/github/divas-jindal/Data-Science-Assignments/blob/master/Assign_1(Web_Scrapping).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Engineering

#### Welcome to the Data Engineering Assignment of Summer Analytics 2020. This assignment is primarily based on Web-Scraping, but knowledge of other libraries (Numpy, Pandas) is essential for completion of the assignment. So make sure that you attempt this assignment only after you complete all the 5 days of Week 1

## Retrieving data from the web

### requests

The first task is to retrieve some data from the Internet. Python has many built-in libraries that were developed over the years to do exactly that (e.g. urllib, urllib2, urllib3).

However, these libraries are very low-level and somewhat hard to use. They become especially cumbersome when you need to issue POST requests or authenticate against a web service.

Luckly, as with most tasks in Python, someone has developed a library that simplifies these tasks. In reality, the requests made both on this assignment are fairly simple, and could easily be done using one of the built-in libraries. However, it is better to get acquainted to `requests` as soon as possible, since you will probably need it in the future.

In [0]:
# You tell Python that you want to use a library with the import statement.
import requests

Now that the requests library was imported into our namespace, we can use the functions offered by it.

In this case we'll use the appropriately named `get` function to issue a *GET* request. This is equivalent to typing a URL into your browser and hitting enter.

In [0]:
# Get the HU Wikipedia page
req = requests.get("https://en.wikipedia.org/wiki/Harvard_University")

Another very nifty Python function is `dir`. You can use it to list all the properties of an object.

In [0]:
dir(req)

Right now `req` holds a reference to a *Request* object; but we are interested in the text associated with the web page, not the object itself.

So the next step is to assign the value of the `text` property of this `Request` object to a variable.

In [0]:
page = req.text
page

Great! Now we have the text of the HU Wikipedia page. But this mess of HTML tags would be a pain to parse manually. Which is why we will use another very cool Python library called BeautifulSoup.

### BeautifulSoup

Parsing data would be a breeze if we could always use well formatted data sources, such as CSV, JSON, or XML; but some formats such as HTML are at the same time a very popular and a pain to parse.

One of the problems with HTML is that over the years browsers have evolved to be very forgiving of "malformed" syntax. Your browser is smart enough to detect some common problems, such as open tags, and correct them on the fly.

Unfortunately, we do not have the time or patience to implement all the different corner cases, so we'll let BeautifulSoup do that for us.

# 1) Import BeautifulSoup

In [0]:
from bs4 import BeautifulSoup

BeautifulSoup can deal with HTML or XML data, so the next line parser the contents of the `page` variable using its HTML parser, and assigns the result of that to the `soup` variable.

# 2) Create a Soup variable to store the parsed contents of the page

In [0]:
# Your Code Here
soup = BeautifulSoup(page)

Let's check the string representation of the `soup` object.

In [113]:
soup.title.text
soup_s = (soup.text)
ls  = (str(soup_s)).split()
print(ls[10])
print(ls[50])

links","CS1:
university

Doesn't look much different from the `page` object representation. Let's make sure the two are different types.

In [11]:
type(page)

str

In [12]:
type(soup)

bs4.BeautifulSoup

Looks like they are indeed different.

# 3) Display the title of the webpage

### Expected Output
```
<title>Harvard University - Wikipedia, the free encyclopedia</title>
```

In [13]:
# Your Code Here
soup.find('title').text

'Harvard University - Wikipedia'

This is nice for HTML elements that only appear once per page, such the the `title` tag. But what about elements that can appear multiple times?

# 4) Display all p tags from the webpage

#### You may use find_all method!

In [0]:
# Be careful with elements that show up multiple times.
# Your Code Here
p_tag = soup.find_all('p')
print(p_tag)

# 5) How may p tags are present?

In [15]:
# Your Code Here
len(p_tag)

85

---

If you look at the Wikipedia page on your browser, you'll notice that it has a couple of tables in it. We will be working with the "Demographics" table, but first we need to find it.

One of the HTML attributes that will be very useful to us is the "class" attribute.

Getting the class of a single element is easy...

In [16]:
soup.table["class"]

['infobox', 'vcard']

---

### List Comprehensions

Next we will use a list comprehension to see all the tables that have a "class" attributes. List comprehensions are a very cool Python feature that allows for a loop iteration and a list creation in a single line.

As a quick guide you may refer to https://www.youtube.com/watch?v=AhSvKGTh28Q.

# 6) Create a nested list containing classes of all the table tags

### Expected Output

```
[['infobox', 'vcard'],
 ['toccolours'],
 ['infobox'],
 ['wikitable', 'sortable', 'collapsible', 'collapsed', 'floatright'],
 ['wikitable', 'sortable', 'collapsible', 'collapsed', 'floatright'],
 ['wikitable'],
 ['box-Cleanup_gallery', 'plainlinks', 'metadata', 'ambox', 'ambox-style'],
 ['metadata', 'mbox-small'],
 ['nowraplinks', 'mw-collapsible', 'mw-collapsed', 'navbox-inner'],
 ['nowraplinks', 'navbox-subgroup'],
 ['nowraplinks', 'navbox-subgroup'],
 ['nowraplinks', 'mw-collapsible', 'mw-collapsed', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'mw-collapsed', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'hlist', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'mw-collapsible', 'mw-collapsed', 'navbox-inner'],
 ['nowraplinks', 'hlist', 'mw-collapsible', 'autocollapse', 'navbox-inner'],
 ['nowraplinks', 'navbox-subgroup'],
 ['nowraplinks', 'hlist', 'navbox-inner']]
```

In [0]:
# Your Code Here
tables = soup.find_all('table')
table_class = [ table['class'] for table in tables ]
table_class

As I mentioned, we will be using the Demographics table for this lab. The next cell contains the HTML elements of said table. We will render it in different parts of the notebook to make it easier to follow along the parsing steps.

# 7) Check the classes and find the Demographics Table
#### Use find method to find the table using the correct class , convert it into string format and store it in table_html also stored the original form in html_soup

In [0]:
# Your Code Here

In [31]:
demo_table_list = [i for i in tables if i.find('i')!=None and i.find('i').text =='Demographics of student body (Fall 2019)']
demo_table = demo_table_list[0] 
# as it creates a list 
table_html = str(demo_table)
table_html

'<table class="wikitable" style="text-align:center; float:right; font-size:85%; margin-right:2em;">\n<caption><i>Demographics of student body (Fall 2019)</i><sup class="reference" id="cite_ref-Head_count_159-0"><a href="#cite_note-Head_count-159">[159]</a></sup><sup class="reference" id="cite_ref-160"><a href="#cite_note-160">[160]</a></sup><sup class="reference" id="cite_ref-161"><a href="#cite_note-161">[161]</a></sup><sup class="reference" id="cite_ref-162"><a href="#cite_note-162">[162]</a></sup>\n</caption>\n<tbody><tr>\n<th></th>\n<th>Undergrad</th>\n<th>Grad/prof</th>\n<th>US census\n</th></tr>\n<tr>\n<th>Asian\n</th>\n<td>21%</td>\n<td>13%</td>\n<td>5%\n</td></tr>\n<tr>\n<th>Black\n</th>\n<td>9%</td>\n<td>5%</td>\n<td>12%\n</td></tr>\n<tr>\n<th>Hispanic or Latino\n</th>\n<td>11%</td>\n<td>7%</td>\n<td>16%\n</td></tr>\n<tr>\n<th>White\n</th>\n<td>37%</td>\n<td>38%</td>\n<td>64%\n</td></tr>\n<tr>\n<th>Two or more races\n</th>\n<td>8%</td>\n<td>3%</td>\n<td>9%\n</td></tr>\n<tr>\n<th>International\n</th>\n<td>12%</td>\n<td>32%</td>\n<td>N/A\n</td></tr></tbody></table>'

In [29]:

from IPython.core.display import HTML

HTML(table_html)

# 8) Extract the rows from the Demographics table and store it in rows variable

### Expected Output
```
[<tr>
 <th></th>
 <th>Undergrad</th>
 <th>Grad/prof</th>
 <th>US census
 </th></tr>, <tr>
 <th>Asian
 </th>
 <td>21%</td>
 <td>13%</td>
 <td>5%
 </td></tr>, <tr>
 <th>Black
 </th>
 <td>9%</td>
 <td>5%</td>
 <td>12%
 </td></tr>, <tr>
 <th>Hispanic or Latino
 </th>
 <td>11%</td>
 <td>7%</td>
 <td>16%
 </td></tr>, <tr>
 <th>White
 </th>
 <td>37%</td>
 <td>38%</td>
 <td>64%
 </td></tr>, <tr>
 <th>Two or more races
 </th>
 <td>8%</td>
 <td>3%</td>
 <td>9%
 </td></tr>, <tr>
 <th>International
 </th>
 <td>12%</td>
 <td>32%</td>
 <td>N/A
 </td></tr>]
```

In [0]:
# Your Code Here
rows = demo_table.find_all('tr')
rows

---

### lambda expressions

We will then use a lambda expression to replace new line characters with spaces. Lambda expressions are to functions what list comprehensions are to lists: namely a more concise way to achieve the same thing.

In reality, both lambda expressions and list comprehensions are a little different from their function and loop counterparts. But for the purposes of this class we can ignore those differences.

In [0]:
# Lambda expressions return the value of the expression inside it.
# In this case, it will return a string with new line characters replaced by spaces.
rem_nl = lambda s: s.replace("\n", " ")

# 8) Extract the columns from the Demographics table and store it in columns variable

### Expected Output
```
['Undergrad', 'Grad/prof', 'US census ']
```

In [43]:
# Your Code Here
# to avoid blank colums and -1 to end
columns = rows[0].text.split('\n')[2:-1]
columns

['Undergrad', 'Grad/prof', 'US census']

Now let's do the same for the rows. Notice that since we have already parsed the header row, we will continue from the second row. The `[1:]` is a slice notation and in this case it means we want all values starting from the second position.

# 9) Extract the indexes from the rows variable
### Store it in a variable named indexes

### Expected Output
```
['Asian',
 'Black',
 'Hispanic or Latino',
 'White',
 'Two or more races',
 'International']

```

In [0]:
# Your Code Here
indexes = [i.text.split('\n')[1] for i in rows[1:]]

In [40]:
indexes

['Asian',
 'Black',
 'Hispanic or Latino',
 'White',
 'Two or more races',
 'International']

In [41]:
# Here's the original HTML table.
HTML(table_html)

Next we start by checking if the last character of the string (Python allows for negative indexes) is a percent sign. If that is true, then we convert the characters before the sign to integers. Lastly, if one of the prior checks fails, we return a value of None.

This is a very common pattern in Python, and it works for two reasons: Python's `and` and `or` are "short-circuit" operators. This means that if the first element of an `and` statement evaluates to False, the second one is never computed (which in this case would be a problem since we can't convert a non-digit string to an integer). The `or` statement works the other way: if the first element evaluates to True, the second is never computed.

The second reason this works is because these operators will return the value of the last expression that was evaluated, which is this case will be either the integer value or the value `None`.

One last thing to notice: Python slices are open on the upper bound. So the `[:-1]` construct will return all elements of the string, except for the last.

# 10) Convert the percentages to integers
### Store it in a variable named values

### Expected Output
```
[21, 13, 5, 9, 5, 12, 11, 7, 16, 37, 38, 64, 8, 3, 9, 12, 32, None]
```

In [46]:
# Your Code Here

values_soup = [i.text.split('\n')[3:-1] for i in rows[1:]]
values_soup
type(values_soup[0][0])

str

In [45]:
values = []
for i in values_soup:
  for j in i:
    if j!='N/A' :
      j=j.replace('%','')
      values.append(int(j)) 
    else :
      values.append(None)
values

[21, 13, 5, 9, 5, 12, 11, 7, 16, 37, 38, 64, 8, 3, 9, 12, 32, None]

The problem with the list above is that the values lost their grouping.

The `zip` function is used to combine two sequences element wise. So `zip([1,2,3], [4,5,6])` would return `[(1, 4), (2, 5), (3, 6)]`.

This is the first time we see a container bounded by parenthesis. This is a tuple, which you can think of as an immutable list (meaning you can't add, remove, or change elements from it). Otherwise they work just like lists and can be indexed, sliced, etc.

In [47]:
stacked_values = zip(*[values[i::3] for i in range(len(columns))])
stacked_values

In [48]:
# Here's the original HTML table.
HTML(table_html)

---

## Pandas data structures

### DataFrames

To recap, we now have three data structures holding our column names, our row (index) names, and our values grouped by index.

We will now load this data into a Pandas DataFrame. The loading process is pretty straightforward, and all we need to do is tell Pandas which container goes where.

In [0]:
import pandas as pd

# 11) Create the DataFrame
### Use stacked_values, columns and indexes to create the Demographics DataFrame
#### Name the DataFrame df

In [50]:
k = list(stacked_values)
k

[(21, 13, 5), (9, 5, 12), (11, 7, 16), (37, 38, 64), (8, 3, 9), (12, 32, None)]

In [51]:
# Your Code Here
df = pd.DataFrame(k,index=indexes,columns=columns)
df

                    Undergrad  Grad/prof  US census
Asian                      21         13        5.0
Black                       9          5       12.0
Hispanic or Latino         11          7       16.0
White                      37         38       64.0
Two or more races           8          3        9.0
International              12         32        NaN

In [52]:
# Here's the original HTML table.
HTML(table_html)

---

### DataFrame cleanup

Our DataFrame looks nice; but does it have the right data types?

# 12) Display the datatypes of all the columns

In [53]:
# Your Code Here
df.dtypes

Undergrad      int64
Grad/prof      int64
US census    float64
dtype: object

The `U.S Census` looks a little strange. It should have been evaluated as an integer, but instead it came in as a float. It probably has something to do with the `NaN` value...

In fact, missing values can mess up a lot of our calculations, and some function don't work at all when `NaN` are present. So we should probably clean this up.

One way to do that is by dropping the rows that have missing values:

# 13) Drop the column containing NaN value.
### After droping the row store it in df_clean_column

In [0]:
# Your Code Here
df_clean_column = df.dropna()
df_clean_column

                    Undergrad  Grad/prof  US census
Asian                      21         13        5.0
Black                       9          5       12.0
Hispanic or Latino         11          7       16.0
White                      37         38       64.0
Two or more races           8          3        9.0

We will take a less radical approach and replace the missing value with a zero. In this case this solution makes sense, since 0% value meaningful in this context. We will also transform all the values to integers at the same time.

# 13) Fill the NaN value with 0 
### After filling the NaN value with 0 store it in df_clean

In [69]:
# Your Code Here
df_clean = df.copy()
print(df_clean.iloc[5,2])
df_clean.iloc[5,2] = 0
# these to are diff imp
print(df_clean[5:])
print(df_clean['US census'])
df_clean['US census'] = df_clean['US census'].astype('int64')
df_clean

nan
               Undergrad  Grad/prof  US census
International         12         32        0.0
Asian                  5.0
Black                 12.0
Hispanic or Latino    16.0
White                 64.0
Two or more races      9.0
International          0.0
Name: US census, dtype: float64

                    Undergrad  Grad/prof  US census
Asian                      21         13          5
Black                       9          5         12
Hispanic or Latino         11          7         16
White                      37         38         64
Two or more races           8          3          9
International              12         32          0

In [70]:
df_clean.dtypes

Undergrad    int64
Grad/prof    int64
US census    int64
dtype: object

Now our table looks good!

---

### NumPy

Pandas is awesome, but it is built on top of another library the we will use extensively during the course. NumPy implements new data types and vectorized functions.

In [0]:
import numpy as np

The `values` method of the DataFrame will return a two-dimensional `array` with the DataFrame values. The `array` is a NumPy structure that we will be using a lot during this class.

In [72]:
df_clean.values

array([[21, 13,  5],
       [ 9,  5, 12],
       [11,  7, 16],
       [37, 38, 64],
       [ 8,  3,  9],
       [12, 32,  0]])

Let's see if this is indeed a NumPy type...

In [73]:
type(df_clean.values)

numpy.ndarray

NumPy also offers many functions that can operate directly on the DataFrame.

# 14) Find the mean for the column 'Undergrad' from the cleaned dataset

In [74]:
# Your Code Here
df_clean['Undergrad'].mean(axis =0)

16.333333333333332

# 15) Find the standard deviation for all the columns of the cleaned dataset

In [75]:
# Your Code Here
df_clean.std(axis = 0)

Undergrad    11.129540
Grad/prof    14.962175
US census    23.363790
dtype: float64

### Congrats on Completing the Assignment. Now proceed to the following link to attempt a small quiz based on this assignment. 

https://forms.gle/6XTvyzT7rhprgkbi7 

### Remember completion of this assignment remains incomplete if you don't attempt the quiz. So don't forget to do the same.

In [78]:
df_clean['Undergrad'].corr(df_clean['Grad/prof'])

0.7306336464623144

In [79]:
df_clean['Undergrad'].corr(df_clean['US census'])

0.8442672811430659

In [83]:
#range
df_clean['Grad/prof'].max()-df_clean['Grad/prof'].min()

35

In [88]:
X = df_clean/df_clean.sum()
X

                    Undergrad  Grad/prof  US census
Asian                0.214286   0.132653   0.047170
Black                0.091837   0.051020   0.113208
Hispanic or Latino   0.112245   0.071429   0.150943
White                0.377551   0.387755   0.603774
Two or more races    0.081633   0.030612   0.084906
International        0.122449   0.326531   0.000000

In [93]:
#find max in row
X['Undergrad'].idxmax(axis=1)

'White'

In [99]:
X.filter(items=['Grad/prof'])

                    Grad/prof
Asian                0.132653
Black                0.051020
Hispanic or Latino   0.071429
White                0.387755
Two or more races    0.030612
International        0.326531